# --- Project files

# log files
*.log

# --- Python files

# compiled source
*.pyc

# testing
.cache
.coverage
.coverage.*
.pytest_cache

# --- Miscellaneous

# direnv
/.direnv
.envrc

# vim
.*.swp

# macOS
.DS_Store*

# --- DVC

/*.yaml
/data
